/* General CSS */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    font-family: 'PT Sans';
    font-weight: 100;
    font-size: 16px;
}

/* Style for the navbar and its elements */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
}

nav {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    transition: all 0.2s ease-in;
}

.logo {
    display: inline-block;
    align-items: center;
    font-size: 24px;
    color: white;
}

.logo img {
    margin-top: 8px;
    max-width: 160px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 5px;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

a:hover {
    text-decoration: underline;
}


.botonContacto {
    border: solid 1px white;
    padding: 10px 20px;
    background-color: #82924B;
    border-radius: 5px;
}

/* Style for submenus */

.submenu {
    display: none;
    position: absolute;
    background-color: #82924B;
    padding: 0;
    z-index: 1;
}

.submenu li {
    margin: 0;
}

.submenu a {
    padding: 10px;
}

li:hover .submenu {
    display: block;
}

/* Style for Video Section */

.video {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 100%;
    transform: translate(-50%, -50%);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.contenido-video {
    padding: 0 15px;
    width: 33%;
    color: white;
    margin-top: 375px;
    margin-left: 20px;
    position: relative;
}

.contenido-video h1 {
    font-weight: 400;
}

.contenido-video p {
    text-align: justify;
}

.videoCta {
    padding: 0;
    text-decoration: none !important;
    text-align: center;
    width: 114px;
    margin-top: 30px;
    font-size: 17px;
    border-bottom: 1px solid;
}

.videoCta:hover {
    border-bottom: none;
}

.videoCta::after {
    content: '';
    height: 1px;
    width: 0%;
    background-color: white;
    display: block;
    transition: none;
}

.videoCta:hover::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: white;
    display: block;
    transition: .8s ease;
}

/* Style for main */

.contenedor-ajuste{
    height: 120px;
    background-color: white;
}

.contenedor {
    width: 100%;
    height: 68vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-interno {
    width: 85%;
    background-color: #FAEDCD;
    height: 60vh;
    display: flex;
}

/* Imagen izquierda - texto derecha */

.imagen-izquierda {
    background-color: white;
    height: 100%;
    width:50%;
    overflow: hidden;
}

.imagen-izquierda img {
    width: 112%;
    object-fit: cover;
    filter: brightness(85%);
}

.texto-derecha {
    width: 50%;
    height: 100%;
    color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-derecha h2 {
    font-size: 1.8rem;
    font-weight: 100;
    margin-left: 40px;
    margin-right: 40px;
}

.texto-derecha p {
    margin-top: 16px;
    margin-left: 40px;
    margin-right: 40px;
}

.texto-derecha a {
    margin-top: 35px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    color: rgb(40, 40, 40);
    border-bottom: 1px solid;
    width: 19%;
}

.texto-derecha a:hover {
    text-decoration: none;
    border-bottom: none;
}

.texto-derecha a::after {
    content: '';
    height: 1px;
    width: 0%;
    background-color: rgb(40, 40, 40);
    display: block;
    transition: none;
}

.texto-derecha a:hover::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    display: block;
    transition: .8s ease;
}


/* Imagen derecha - texto izquierda */

.imagen-derecha {
    background-color: white;
    height: 100%;
    width:50%;
    overflow: hidden;
}

.imagen-derecha img {
    width: 112%;
    object-fit: cover;
    filter: brightness(85%);
}

.texto-izquierda {
    width: 50%;
    height: 100%;
    color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-izquierda h2 {
    font-size: 1.8rem;
    font-weight: 100;
    margin-left: 40px;
}

.texto-izquierda p {
    margin-top: 16px;
    margin-left: 40px;
    margin-right: 40px;
}

.texto-izquierda a {
    margin-top: 35px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    color: rgb(40, 40, 40);
    border-bottom: 1px solid;
    width: 19%;
}

.investCta {
    width: 23% !important;
}

.texto-izquierda a:hover {
    text-decoration: none;
    border-bottom: none;
}

.texto-izquierda a::after {
    content: '';
    height: 1px;
    width: 0%;
    background-color: rgb(40, 40, 40);
    display: block;
    transition: none;
}

.texto-izquierda a:hover::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    display: block;
    transition: .8s ease;
}

.embarkCta {
    width: 31% !important;
}

.inspireCta {
    width: 16% !important;
}


/* Footer */

footer {
    display: flex;
    flex-direction: row;
    height: 50vh;
    background-color: black;
    color:white;
    gap: 65px;
    align-items: center;
    margin-top: 50px;
    /* justify-content: center; */
}

.logoFooter {
    width: 200px;
}

.links h2 {
    margin-bottom: 10px;
}

.links {
    color: white;
    width: 20%;
    margin: 20px;
}

section h3 {
    font-weight: 100;
    font-size: 14px;
}

section a {
    padding: 5px;
}

.mapa h2 {
    margin-bottom: 10px;
}

.socialMedia {
    width: 20%;
    display: flex;
    flex-direction: column !important;
}

.socialMedia h3 {
    text-align: center;
    font-weight: 400;
}

.fa-brands, .fa-regular, .fa-solid {
    font-size: 20px;
    margin: 11px 0px;
}